*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foto{
    height: 400px;
    width: 380px;
    background-size: cover;
}

.contenedorCarrusel{
    /* background-color: aqua; */
    width: 500px;
    margin: auto;
}

.imgHabilidades{
    height: 400px;
    width: 500px;
    background-size: cover;
}

.card-img-top{
    margin: auto;
}

