/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


.foto{
    height: 400px;
    width: 380px;
    background-size: cover;
}

.contenedorCarrusel{
    /* background-color: aqua; */
    width: 500px;
    margin: auto;
}

.carousel-control-prev, .carousel-control-next{
    border: none;
    opacity: 30%;
}

.carousel-caption{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 86%);
    border-radius: 25%;
    opacity: 90%;
    color: black;
    font-size: 20px;
}


.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: red; */
    margin-bottom: 25px;
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}



.tamanoTarjeta{
    width: 300px;
    height: 400px;
    /* background-color: red; */
    -webkit-box-shadow: 10px 10px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 9px -1px rgba(0,0,0,0.75);
}

.card{
    border: none;
}
.imgHabilidades{
    margin-top: 25px;
    height: 250px;
    width: 250px;
    background-size: cover;
}

.card-img-top{
    margin: auto;
}

